extends layout

block content
    h1= title

    form#newJob(onsubmit="return false")

        div.form
                fieldset

                    div.form-group.left
                        label(for='width') Width:
                        input#width.form-control(type='text', placeholder='' name='width')

                    div.form-group
                        label(for='height') Height:
                        input#height.form-control(type='text', placeholder='' name='height')

                    div.form-group
                        label(for='url') Url:
                        input#url.form-control(type='text', placeholder='' name='url')

                    div.form-group
                        label(for='html') Html:
                        textarea#html.form-control(rows='15', cols='50', type='text', placeholder='' name='html')

                    div.form-group
                        label(for='scripts') Scripts:
                        textarea#scripts.form-control(rows='15', cols='50', type='text', placeholder='' name='scripts')

                    button#submit.btn(type='button') Add
    div#demo

        div
            if data
                -const banners = data.banners

                ul.table

                    - for (let i = banners.length-1; i>=0; i--)

                        li.row(data-count=i)
                            -let name = banners[i];
                            div.credentials
                                div.channel
                                  = banners[i].width
                                div.channel
                                  = banners[i].height
                                div.url
                                  = banners[i].url
                                div.html
                                  pre.
                                  = banners[i].html
                                div.html
                                  pre.
                                  = banners[i].scripts


    script(src='js/script.js')


