doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/styles/style.css')
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    body
        block content
